{% extends "_layout" %}

{% block content %}

<div class="row content l_start">
  <div class="row-inner-wide">
    <div class="content-main l_text-centered">
      <h1 class="l_fancy">{{ entry.title }}</h1>
      {% if entry.pageSummary %}
        <p>{{ entry.pageSummary }}</p>
      {% endif %}
      {% if entry.pageContent %}
        {{ entry.pageContent }}
      {% endif %}
    </div>
  </div>
</div>

<div class="row content">
  <div class="row-inner-wide">
    <div class="content-main">

      {% if entry.title == 'Contact' %}
      <div class="form-container">
        {% include 'forms/_form' %}
      </div>
      {% endif %}
      
    </div>
  </div>
</div>

{% endblock %}
