{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% from _self import errorList %}

{{ errors['form'] is defined ? errorList(errors['form']) }}

<form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data">
  {{ csrfInput() }}
  <input type="hidden" name="action" value="wheelform/message/send">
  <input type="hidden" name="form_id" value="1">
  <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}">
  <input type="hidden" name="favourite_honey" value="">

  <div class="form-group">
    <label for="fromName">Your Name</label>
    <input id="fromName" type="text" name="fromName" value="{{ values['name'] ?? '' }}">
    {{ errors['name'] is defined ? errorList(errors['name']) }}
  </div>

  <div class="form-group">
    <label for="email">Your Email</label>
    <input id="email" type="text" name="email" value="{{ values['email'] ?? '' }}">
    {{ errors['email'] is defined ? errorList(errors['email']) }}
  </div>

  <div class="form-group">
    <label for="message">Message</label>
    <textarea rows="10" cols="40" id="message" name="message">{{ values['message'] ?? '' }}</textarea>
    {{ errors['message'] is defined ? errorList(errors['message']) }}
  </div>

  <div class="form-group">
    <input class="btn-submit" type="submit" value="Send">
  </div>

</form>