<html>
<body>
  <h1>Custom Template</h1>

  <ul>
  {% for field in fields %}
    <li>
    <strong>{{ field.label }}:</strong>
    {% switch field.type %}

    {% case "file" %}
      {# This is an object with file attributes #}
      {{ field.value.name }}

      {% case "checkbox" %}
        {# Array of all choices selected #}
        {{ field.value | join(',')}}

      {% default %}

        {# Text based items #}
        {{ field. value }}

    {% endswitch %}
    </li>
  {% endfor %}
  </ul>
</body>
</html>