<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel='shortcut icon' type='image/gif' href='/favicon.gif' />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/css/master.css?v=' ~ random() }}" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91845655-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container-fluid">

<!-- Navigation/header -->
<header class="row nav">
  <div class="row-inner-full">
    <div class="nav-logo">
      <a href="/"><img src="/images/logo.svg"></a>
    </div>
		<div class="nav-items">

			{% set pages = craft.entries.section('pages').level(1).all() %}

			<ul id="nav">
				{% nav page in pages %}
					<a href="{{ page.url }}">
						<li class="{{ entry.id == page.id ? 'active' }}">{{ page.title }}</li>
					</a>
				{% endnav %}
			</ul>
			
		</div>
		<div class="nav-button-holder">
			<div class="nav-button">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>

<div class="mobile-menu">
	<ul>
		{% nav page in pages %}
    	<a href="{{ page.url }}">
        <li class="{{ entry.id == page.id ? 'active' }}">{{ page.title }}</li>
      </a>
    {% endnav %}
	</ul>
</div>

{% block content %}{% endblock %}

<footer class="footer">
	&copy; {{ now|date('Y') }} {{ craft.app.request.serverName }}
</footer>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ '/js/app.js?v=' ~ random() }}"></script>
</body>
</html>
