{% extends "_layout" %}

{% block content %}

<div class="row content l_start">
  <div class="row-inner-wide">
    <div class="content-main l_text-centered">
      <h1 class="l_fancy">{{ entry.title }}</h1>
      <p>{{ entry.pageSummary }}</p>
      {{ entry.pageContent }}
    </div>
  </div>
</div>

{% endblock %}
