//* cards ============================== */

.card-container {
  @include flexbox();
  @include flex-wrap(wrap);
}

.card-wrapper {
  @include flexbox();
  width: 100%;

  @include breakpoint($phone) {
    width: 50%;
  }

  @include breakpoint($desktop) {
    width: 33.333%;
  }

  .card {
    @include transition(all 200ms);
    @include flexbox();
    @include flex-direction(column);
    overflow: hidden;
    background: $cardbg;
    border-radius: $cardradius;
    margin: 0 20px 20px;
    //box-shadow: 0 2px 4px 0 rgba($black, .2);

    &:hover {
      box-shadow: 0 1px 1px 0 rgba($black, .2);

      .card-image {
        transform: scale(1.0);
      }
    }

    .card-title {
      font-weight: 500;
      margin: 0 0 10px;
    }

    .card-platform {
      font-size: 85%;
      margin: -10px 0 10px;
      opacity: .5;
    }

    .card-image-container {
      overflow: hidden;
    }

    .card-image {
      @include transition(all 200ms);
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;

      &.l_app-icon {
        width: 100px;
        height: 100px;
        margin: 20px auto 0;
        border-radius: 20px;

        @include breakpoint($tablet) {
          margin: 30px auto 0;
        }
      }
    }

    .card-content {
      padding: 20px 20px 15px;

      @include breakpoint($tablet) {
        padding: 30px 30px 20px;
      }
    }
  }
}


//* panel ============================== */

.panel-wrapper {
  @include flexbox();
  width: 100%;

  @include breakpoint($desktop) {
    width: 50%;
  }
  

  .panel-link {
    width: 100%;
  }

  .panel {
    @include transition(all 200ms);
    @include flexbox();
    @include flex-direction(row);
    position: relative;
    overflow: hidden;
    background: $cardbg;
    border-radius: $cardradius;
    margin: 0 20px 40px;
    box-shadow: 0 2px 4px 0 rgba($black, .2);

    &:hover {
      box-shadow: 0 1px 1px 0 rgba($black, .2);

      .panel-image {
        transform: scale(1.0);
      }
    }

    .panel-title {
      @include transition(all 200ms);
      font-family: $basefont;
      font-weight: 500;
      font-size: 22px;
      margin: auto;
      color: $white;
      transform: scale(.5) translateY(100px);
      opacity: 0;
    }

    .panel-platform {
      @include transition(all 200ms);
      font-size: 85%;
      margin: auto;
      color: $white;
      transform: scale(.5) translateY(100px);
      opacity: 0;
    }

    p {
      @include transition(all 200ms);
      margin: auto;
      color: $white;
      transform: scale(.5) translateY(100px);
      opacity: 0;
    }

    .panel-image-container {
      overflow: hidden;
      width: 100%;
    }

    .panel-image {
      @include transition(all 200ms);
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
    }

    .panel-content {
      @include flexbox();
      @include flex-direction(column);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 20px 15px;
      background: rgba($black, 0);

      @include breakpoint($tablet) {
        padding: 30px 30px 20px;
      }

      &:hover {
        @include transition(all 200ms);
        background: rgba($black, .5);

        .panel-title,
        .panel-platform,
        p {
          transform: scale(1) translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
