.btn-submit {
  @include transition(all 200ms);
  margin: 0 0 20px;
  padding: 12px 40px;
  border: 1px solid $bordercolour;
  border-radius: $borderradius;
  font-size: 22px;
  color: $textcolor;
  background: lighten($bordercolour, 10%);
  cursor: pointer;

  &:hover {
    background: lighten($bordercolour, 6%);
  }
}
