
.form-container {
  @include transition(all 200ms);
  max-width: 600px;
  margin: auto;

  &.s_submitting {
    pointer-events: none;
    opacity: .5;
  }

  .form-group {
    width: 100%;

    label {
      font-family: $altfont;
      color: $textcolor;
      display: block;
      margin: 0 0 5px;
    }
  }
}


//* normalise inputs ============================== */

input[type="text"],
input[type="email"] {
  width: 100%;
  margin: 0 0 20px;
  padding: 12px;
  border: 1px solid $bordercolour;
  border-radius: $borderradius;
  font-size: 18px;
  color: $textcolor;
}

textarea {
  resize: vertical;
  width: 100%;
  margin: 0 0 20px;
  padding: 12px;
  border: 1px solid $bordercolour;
  border-radius: $borderradius;
  border-bottom-right-radius: 0;
  font-size: 18px;
  color: $textcolor;
}


//* honeypot ============================== */

#preferredKitten { display: none; }
