.nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #333;
  height: 60px;
  padding: 0;

  &.l-fixed {
    position: fixed;
  }

  .nav-logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;

    a {
      display: block;
      height: 100%;

      img {
        height: 30px;
        margin: 15px 0;
      }
    }
  }

  .nav-items {
    font-family: $basefont;
    display: none;
    visibility: hidden;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 20px;

    @include breakpoint($tablet) {
      display: inline-block;
      vertical-align: middle;
      visibility: visible;
    }

    ul {
      list-style-type: none;
      margin: 0;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        transition: all 100ms ease;

        &:hover {
          color: $basecolor;
          transition: all 300ms ease;
        }
      }

      li {
        display: inline-block;
        text-align: center;
        margin: 0 15px;

        &.active {

          a {
            color: $basecolor;
          }
        }

        i {
          font-size: 20px;
          color: #fff;
          transition: all 50ms ease;
        }

        &:hover {

          i {
            font-size: 24px;
            color: $basecolor;
            text-decoration: none;
            transition: all 50ms ease;
          }
        }
      }
    }
  }

  .nav-button-holder {
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: right;
    height: 60px;
    width: 30px;

    @include breakpoint($tablet) {
      display: none;
    }

    .nav-button {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      width: 30px;
      height: 30px;
      transform: rotate3d(0,0,0, 0deg);
      transition: all 300ms ease;

      &.s-active {
        transform: rotate3d(0,0,1, 360deg);
        transition: all 300ms ease;

        span:nth-child(1) {
          bottom: 13px;
          transform: rotate(45deg);
          transition: all 300ms ease;
        }

        span:nth-child(2) {
          opacity: 0;
          transition: all 300ms ease;
        }

        span:nth-child(3) {
          bottom: 13px;
          transform: rotate(-45deg);
          transition: all 300ms ease;
        }

        &:hover {

          span:nth-child(1) {
            animation: none;
          }

          span:nth-child(2) {
            animation: none;
          }

          span:nth-child(3) {
            animation: none;
          }
        }
      }

      &:hover {

        span:nth-child(1) {
          animation: volume 400ms infinite;
        }

        span:nth-child(2) {
          animation: volume 500ms infinite;
        }

        span:nth-child(3) {
          animation: volume 700ms infinite;
        }
      }

      span {
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
      }

      span:nth-child(1) {
        bottom: 20px;
      }

      span:nth-child(2) {
        opacity: 1;
        bottom: 10px;
        transition: all 300ms ease;
      }

      span:nth-child(3) {
        bottom: 0;
        transition: all 300ms ease;
      }
    }
  }
}

.mobile-menu {
  font-family: $basefont;
  z-index: 90;
  overflow-y: auto;
  background: #333;
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: -30px;
  left: 0;
  right: 0;
  opacity: 0;
  text-transform: uppercase;
  transform: translateY(-110%);
  transition: all 300ms ease;

  &.s-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease;
  }

  ul {
    list-style-type: none;
    overflow-y: auto;
    padding: 15px;

    a {
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      transition: all 100ms ease;

      &:hover {
        color: $basecolor;
        text-decoration: none;
        transition: all 300ms ease;
      }
    }

    li {
      padding: 10px 0;
      font-size: 16px;

      &:hover {
        color: $basecolor;
      }

      &.active {

        a {
          color: $basecolor;
        }
      }
    }
  }
}

.active {
  color: $basecolor;
}

@include keyframes(volume) {
  0% {
    width: 100%;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 100%;
  }
}
