//* html / body ============================== */

html, body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: $altfont;

  &.s-stop-scroll {
    overflow: hidden;
  }
}

.l_fancy {
  background: -webkit-linear-gradient(top left,#ff8982,#ff0000);
  //background: -webkit-linear-gradient(left,#650e82,#ff4242);
  //background: -webkit-linear-gradient(top left, #000a10, #1e75b3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


//* content ============================== */

.content {

  &.l_start {
    margin-top: 60px;
  }

  .content-main {

    &.l_text-centered {
      text-align: center;
    }
  }
}


//* footer ============================== */

.footer {
  font-weight: 200;
  text-align: center;
  margin: 20px 0;
  opacity: .3;
}
