//* table ============================== */

.table {
  width: 100%;
  border-spacing: 0;

  thead {

    th {
      border-bottom: 2px solid $greyline;
    }
  }

  tbody {

    td {

    }
  }

  tr {

    th,
    td {

      padding: 8px;

      &:last-child {
        text-align: center;
      }
    }

    &:nth-child(2n) {
      background: #eff4f7;
    }

  }





}