//* headings ============================== */

h1 {
  font-family: $basefont;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #111;

  @include breakpoint($tablet) {
    font-size: 30px;
  }

  @include breakpoint($desktop) {
    font-size: 34px;
  }
}

h2 {
  font-family: $basefont;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  color: #666;

  @include breakpoint($tablet) {
    font-size: 26px;
  }

  @include breakpoint($desktop) {
    font-size: 28px;
  }
}

h3 {
  font-family: $basefont;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  color: #111;

  @include breakpoint($tablet) {
    font-size: 22px;
  }

  @include breakpoint($desktop) {
    font-size: 24px;
  }

  small {
    font-weight: 300;
    font-size: 70%;
  }
}


//* general ============================== */

p {
  font-family: $altfont;
  font-size: 18px;
  font-weight: 200;
  color: $textcolor;
  line-height: 1.5;
  margin: 0 0 10px;

  @include breakpoint($tablet) {
    font-size: 18px;
  }

  @include breakpoint($desktop) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: $linkcolor;
}
