//* colors ============================== */

$white: #ffffff;
$black: #000000;

$basecolor: #ff0f00;// #e72d2d;
$altcolor: #f0e401;

$textcolor: #222222;
$linkcolor: #337ab7;
$backgroundcolor: #f9f9f9;
$greyline: #999;


//* forms ============================== */

$bordercolour: #d2d2d2;
$borderradius: 10px;


//* breakpoints ============================== */

$iphone: 320px;
$phone: 520px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;


//* fonts ============================== */

$basefont: 'Open Sans', sans-serif;
$altfont: 'Raleway', sans-serif;


//* cards ============================== */

$cardbg: #f2f2f2;
$cardbgdark: #383838;
$cardradius: 4px;

//* misc ============================== */

$gutter: 40px;
